@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  scroll-behavior: smooth; 
}

.loader {
  width: 48px;
  height: 48px;
  display: block;
  margin:15px auto;
  position: relative;
  color: #003566;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after,
.loader::before {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  width: 24px;
  height: 24px;
  top: 50%;
  left: 50%;
  transform: scale(0.5) translate(0, 0);
  background-color: #003566;
  border-radius: 50%;
  animation: animloader 1s infinite ease-in-out;
}
.loader::before {
  background-color: #ffc300;
  transform: scale(0.5) translate(-48px, -48px);
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
@keyframes animloader {
    50% {
      transform: scale(1) translate(-50%, -50%);
}
}
    


.scrollbar-search::-webkit-scrollbar{
  width: 5px;
  border-radius: 999;
}
/* Track */
.scrollbar-search::-webkit-scrollbar-track {
  background-color: transparent;
  width: 2px;
}

/* Handle */
.scrollbar-search::-webkit-scrollbar-thumb {
  background: rgb(126 34 206);
  border-radius: 15px;
  border: .5px solid transparent;
}

/* Handle on hover */
.scrollbar-search::-webkit-scrollbar-thumb:hover {
  background: #006a8a;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

.hide-scroll-bar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.hide-scroll-bar::-webkit-scrollbar {
  display: none;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background-color: #00000b;
  width: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #006a8a;
  border-radius: 15px;
  border: 3px solid #00000b;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #006a8a;
}
/* scrollbar end */